**/.ipynb_checkpoints/*
**/tb_logs/*
saved_logs/*
MNIST/*
experiments/**/[slurm]*.out
**/datasets/**
**/checkpoints/
**/__pycache__
**/deprecated_files
**/backdoored-PLM
**/images/**/single
**/experiments/*prompt
**/experiments/backdoor-auto
**/experiments/backdoor-diff
**/experiments/backdoor-manual